@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);



body {
  text-align: center;
  background: url("http://i.imgur.com/1x3fJXP.png");
  background-size: cover;
  background-color: #f6f4ee;
  font-family: 'Mystery Quest', cursive;
}
h1 {
  font-family: 'Mystery Quest', cursive;
  font-weight: 500;
  font-size: 72px;
  color: #2e2d2d;
  text-align: center;
}

 h2 {
  font-family: 'Mystery Quest', cursive;
  font-weight: bold;
  font-size: 20px;
  color: #2e2d2d;
  text-align: center;

 }

}
p {
  font-size: 14px;
  font-family: 'Mystery Quest', cursive;
  font-weight: lighter;
  color: #2e2d2d;
  text-align: center;
}