@import url(https://fonts.googleapis.com/css?family=Oswald);

@-ms-viewport{
  width: device-width;
}


header{
  background-color: #F9FDFF;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;

}

nav {
  background-color: #47647F;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;


}

aside {
  background-color: #243240;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;



 
}

article {
  background-color: #243240;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  



}

footer {
  background-color: #6B96BF;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;



}

div {
  background-color: #80B4E5;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;

 
}

section {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 2em 3em 2em 3em;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;

  
}

#two_column {
    background-color: #80B4E5;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #F9FDFF;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #F9FDFF;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

 @media only screen and (max-width: 375px) {

    header, nav {
    display: block;
    text-align: center;
    }

    aside {
      font-size: 1em;
      display: block;
      text-align: center;
    }
    article {
      margin: 1.8em .6em 0;
      display: block;
      text-align: center;
    }
    footer {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
   nav a {
     margin: 0 1em 1em;
   }
    img {
      width: 230px;
    }
  section, div {
    width: 100%;
    padding: .6em;
  
  }