body {
  text-align: center;
  background: url("http://i.imgur.com/1x3fJXP.png");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
h1 {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 72px;
  color: white;
  text-align: center;
}

 h2 {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 14px;
  color: white;
  text-align: center;

 }

}
p {
  font-size: 40px;
}